# Virtual environment
**/.venv/

# Python Cache
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/*.egg-info

# Node/React
**/node_modules/
**/dist/
**/dist-ssr/
**/*.log

# IDE files
**/.idea/
**/.vscode/
**/.DS_Store

# Test reports
**/test_report.xml
**/test_*.xml

# Environment variables
**/*.env
