# Virtual environment
.venv/

# Python Cache
__pycache__/
*.pyc
.pytest_cache/

# Node/React
web/node_modules/
web/dist/
web/dist-ssr/
*.log

# IDE files
.idea/
.vscode/
.DS_Store

# Test reports
test_report.xml
**/test_*.xml
